/* Top block / navbar */
.top-block {
  background-color: white;
  color: #333;
  padding: 0 20px; /* remove top/bottom padding for better vertical alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

/* Logo + title container */
.top-block .left-side {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.top-block img {
  height: 40px;
}

.top-block .center-side {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  font-size: 16px;
}

/* Columns layout */
.columns-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Left column with graphs + KPI cards */
.left-column {
  flex: 3;
  color: black;
  text-align: left;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

/* First row of KPI cards */
.first-row {
  display: flex;
  flex-wrap: nowrap; /* prevent wrapping */
  gap: 5px;
  width: 100%;
}

/* KPI card style */
.kpi-card {
  flex: 1;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0 5px;
}
.first-row > div:nth-child(1) {
  padding-left: 0;
}

/* Right column (filters) */
.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: black;
  text-align: left;
  padding: 20px 20px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Labels in right column */
.right-column label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: black;
  font-size: 16px;
}

/* Dropdowns full width */
.right-column .dash-dropdown {
  width: 100%;
}

/* Dropdown styling */
.right-column .Select-control,
.right-column .Select-menu-outer,
.right-column .Select-placeholder {
  width: 100% !important;
  color: #333;
  background-color: white;
  border-radius: 6px;
}

.right-column .Select-menu-outer {
  border-radius: 6px;
}
.section-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 8px 0px; /* small space below title */
}

.project-trend-plot {
  width: 100%;
  height: 300px;
  border: 1px solid rgba(85, 85, 85, 0.1);
  border-radius: 5px;
}
